@model IEnumerable<TeaTimeDemo.Models.Survey>

@{
    ViewData["Title"] = "填寫問卷";
}

<h2>填寫問卷</h2>



<div class="table-responsive">
        <table id="tblData" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>類別</th>
                <th>問卷標題</th>
                <th>站別</th>
                <th>描述</th>
                <th>頁數</th>
                <th>建立人</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var survey in Model)
            {
                <tr>
                    <td>@survey.CategoryName</td>
                    <td>@survey.Title</td>
                    <td>@survey.StationName</td>
                    <td>@survey.Description</td>
                    <td>@survey.QuestionNum</td>
                    <td>@survey.ApplicationUser?.Name</td>
                    <td>
                        <a href="@Url.Action("TakeSurvey", "Answer", new { id = survey.Id })" class="btn btn-primary">填寫問卷</a>
                    </td>
                </tr>
            }
        </tbody>
        </table>

    </div>

       