@using Newtonsoft.Json
@model PageGroupVM
<div class="container">
    <h2 class="text-primary">問卷管理</h2>
    <div class="table-responsive">@*可滾動的*@
        <form id="addToCatForm" method="post" >
            <input asp-for="SurveyGroup.Id" hidden />
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="name" class="form-label">名稱</label>
                    <input type="text" class="form-control" 
                    name="SurveyGroup.Name" value="@Model.SurveyGroup.Name" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="order" class="form-label">順序</label>
                    <input type="number" class="form-control" 
                    name="SurveyGroup.Order" value="@Model.SurveyGroup.Order" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="description" class="form-label">描述</label>
                    <input type="text" class="form-control" 
                    name="SurveyGroup.Description" value="@Model.SurveyGroup.Description">
                    </div>
                </div>
            <table id="StblData" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>選擇</th>
                        <th>類別</th>
                        <th>標題</th>
                        <th>站名</th>
                        <th>描述</th>
                        <th>頁數</th>
                        <th>發佈狀態</th>
                        <th>創建時間</th>
                        <th>完成時間</th>
                        <th>建立人</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button type="submit" asp-action="Upsert" class="btn btn-primary btn-lg">選取</button>
        </form>
    </div>
</div>




@section Scripts {
     
     <script src="~/js/page.js" asp-append-version="true"></script>
     

    <script>
        var selectedSurveyIds =  @Html.Raw(JsonConvert.SerializeObject(Model.SelectedSurveyIds));

        var categoryId = "@Model.Category.Id";
        var layerId = "@Model.Layer.Id";
    </script> 

}